html,
body,
#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
  height: 13vh;
  background-color: rgb(55, 71, 79);
}

button {
  margin-top: 30px;
  text-align: center;
  font-size: 23px;
  height: 6vh;
  background-color: wheat;
}

.items input {
  text-align: center;
  font-size: 23px;
  height: 6vh;
  background-color: antiquewhite;
}
